+++
discipline: political philosophy
category: incollection
year: 2006
+++
{% from '__active_description.html' import Description with context %}
{% from 'templates/bibmacros.html' import BibInfo with context %}

+++
language: DE
material:
    - ["Präsentation", "../papers/kant/Kant_Friedensschrift_Praesentation.html"]
    - ["PDF", "../papers/kant/Kant_Friedensschrift_Praesentation.pdf"]
    - ["Text", "../papers/2004_Kants_Friedensschrift/index.html"]
    - ["Preprint (PDF)", "../papers/2004_Kants_Friedensschrift/Kants_Friedensschrift.pdf"]
+++

#### Eine unvollendete Aufgabe: Die politische Philosophie von Kants Friedensschrift

{% call Description() %}
In diesem Vortrag wird Kants Friedensschrift als eine realistische Utopie gedeutet.
Eine Utopie ist Kants Friedensschrift auch heute noch in dem Sinne, dass der
darin beschriebene dauerhafte Weltfrieden vom gegenwärtigen Zustand der
Weltpolitik noch denkbar weit entfernt ist. Aber Kant versucht auch zu zeigen,
dass dieser Zustand unter realistischen Bedingungen möglich ist. Der Vortrag
widmet sich daher der Frage, ob Kants grundlegende Voraussetzungen - wie z.B.
die Annahme, dass Demokratien im Allgemeinen nicht aggressiv sind - im Lichte
der politischen Erfahrungen der zwei Jahrhunderte, die seit der Veröffentlichung
der Friedensschrift verstrichen sind, immer noch als zutreffend angesehen werden
können, und wie der Verwirklichung von Kants Utopie in der heutigen Situation
am besten zugearbeitet werden kann. 
{{ BibInfo("Arnold2006b") }}
{% endcall %}


+++
language: EN
material:
    - ["Presentation (German)", "../papers/kant/Kant_Friedensschrift_Praesentation.html"]
    - ["PDF", "../papers/kant/Kant_Friedensschrift_Praesentation.pdf"]
    - ["Text (German)", "../papers/2004_Kants_Friedensschrift/index.html"]
    - ["Preprint (PDF)", "../papers/2004_Kants_Friedensschrift/Kants_Friedensschrift.pdf"]
+++

#### Unended Quest: The Political Philosophy of Kant's Perpetual Peace

{% call Description() %}
In this lecture Kant's "perpetual peace" is being interpreted as a realistic
utopia. Kant's "perpetual peace" remains an utopia even today in the sense that
the described perpetual world peace is still a long way to go from today's state
of world politics. But Kant also tried to show that the utopian scenario is
possible under realistic assumptions. Therefore this essay examines the question,
if Kant's basic assumptions - such as for example the assumption that
democracies are generally non aggressive - are still valid in the light of the
political experiences of the two centuries that have elapsed since the publication
of the "perpetual peace" and how the realisation of Kant's utopia can best be
promoted in today's situation. 
{{ BibInfo("Arnold2006b") }}
{% endcall %}
